body{
    font-family: system-ui;
    margin-left: 50px;
}

#MPS{
    position: absolute;
    left: 400px;
}

#DPS{
    position: absolute;
    left: 400px;
}

#odds{
    position: absolute;
    left: 600px;

}

#monkeyButton{
    border-radius: 15px;
    font-size: 20px;
}

.infoHeader{
    margin-bottom: 40px;
}

.incrementers{
    float: left;
    top: 70px;
    outline: 1px solid rgb(133, 134, 133);
    outline-offset: 5px;
    
}

.upgrades{
    float: left;
    top: 70px;
    outline: 1px solid rgb(133, 134, 133);
    outline-offset: 5px;
    margin-left: 50px;
    left: 400px;

}

ul{
    overflow:hidden; 
    overflow-y:scroll;
    list-style: none;
    line-height: 50px;
    max-height: 500px;
}

